[submodule "boringssl"]
	path = boringssl
	url = https://gitee.com/zhj2232006/boringssl.git

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = https://gitee.com/zhj2232006/cryptography.git

[submodule "krb5"]
	path = krb5
	url = https://gitee.com/zhj2232006/krb5.git
